* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main.wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
}

main.wrapper h1 {
    margin-bottom: 1rem;
}

main.wrapper input {
    margin-bottom: 1rem;
}

main.wrapper ul {
    list-style: none;
}

main.wrapper li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
}
