* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main.wrapper {
    width: 30%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(243, 243, 243);
}

main.wrapper h1 {
    margin-bottom: 1rem;
}

.input-wrapper {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

main.wrapper ul {
    list-style: none;
}

main.wrapper li {
    border-bottom: 1px solid lightblue;
}

div.todo-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.hike-done {
    text-decoration: line-through;
}
